:root {
    --main-color: #f8af35;
    --contrast-color: #fff;
}

body {
    background-image: var(--contrast-color);
    background-size: cover;   
}



.container-fluid {
    padding: 2%;
}


.left {
    width: 50%;
}


h4 {
    font-weight: inherit;
    width: max-content;
    font-size: larger;
    font-family: inherit;
}


.logo-img {
    border-radius: 10px;
}

.btn-sign {
    background-color: #dedede;
    padding: 8px 15px;
    border: none;
    border-radius: 25px;
    font-size: 14px;
}

.sign-link {
    color: black;
    text-decoration: none;
}

.btn-sign:hover {
    background-color: #f8af35;
}

/* header-middle */
.nav-item {
    margin: 0.7%;
    font-weight: 400;
}

.nav-link {
    font-size: small;
    color: black;
}

.nav-link:hover {
    color: #f8af35;
    transition: 0.5s;
}

.navbar {
    width: 80%;
}

.middle-nav {
    width: 100%;
    list-style-type: none;
    flex-wrap: nowrap;
    align-items: center;
}



.cart {
    background-color: #f8af35;
    width: max-content;
    height: max-content;
    border-radius: 25px;
    text-align: center;
    align-items: center;
    padding: 10px;
}

.icon {
    color: white;
    font-size: large;
}

.navbar {
    width: 86%;
}

.cart-link {
    color: white;
    text-decoration: none;
    font-weight: lighter;
    font-size: medium;
}

.menu-link {
    text-decoration: none;
    margin-top: 10%;
}


@media(min-width:100px) and (max-width:1100px){

    .navbar {
        width: 100%;
    }

    .nav-item {
        padding: 5px;
        width: 100%;
        margin: 0 auto;
    }

    #mobileOffcanvas {
        width: 70%;
    }

    #menuOffcanvas {
        width: 70%;
    }

    .mobile-top{
        display: flex !important;
        padding: 10px;
    }

    .header-top {
        display: none !important;
    }

    .cart {
        display: none;
    }

    .middle-nav {
        width: max-content;
        display: flex;
        flex-direction: row;
        
    }

    .navbar {
        overflow-y: scroll;
    }

   
    .nav-item {
        margin: 2%;
        width: max-content;
    }

    .nav-link {
        width: max-content;
    }
}




/* header-bot */

.carousel-item {
    height: 300px;
    width: 100%;
}

.carousel-inner {
    border-radius: 20px;
}

.welcome {
    margin: 30px 0px;
    font-size: 24px;
}

.container-card {
    flex-wrap: wrap;
}

.card {
    width: max-content;
    border: none;
    margin-top: 5%;
}

.card-main {
    display: flex;
    flex-direction: column;
}

.card-main > h1 {
    font-size: 20px;
}

.card-main > p {
    font-size: 14px;
}

.card-footer {
    background: none;
    border: none;
    align-items: center;
}

.card-img {
    border-radius: 10px;
}

.card-price {
    font-size: 25px;
    font-weight: 500;
}


.card-button > button {
    background-color: var(--main-color);
    border: none;
    box-shadow: none;
    padding: 10px;
    width: 150px;
    color: white;
    border-radius: 20px;
}

.welcome {
    margin-bottom: 0;
}